<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         cacheResult="false">
    
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Tests/Integration</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">App/</directory>
        </include>
        <exclude>
            <directory>Tests/</directory>
            <file>App/Core/Logger.php</file>
        </exclude>
    </coverage>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_HOST" value=""/>
        <env name="DB_USERNAME" value=""/>
        <env name="DB_PASSWORD" value=""/>
        <env name="DB_SCHEMA" value=""/>
    </php>
</phpunit>
